/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
   font-size:16px;
   font-family: 'Mako', sans-serif;
   line-height:18px;
}

#holder{
   width:900px;
   margin-left:auto;
   margin-right:auto;
   padding:20px;
}

/* HEADER */
#header{
   padding-bottom:15px;
   background:url('../images/top-devider.png') repeat-x bottom;
}

#logo{
   float:left;
}

#search{
   float:right;
   margin-top:65px;
}

#submit_search{
   margin-left:10px;
}

/* BODY */
#main{
   padding-top:10px;
   padding-bottom:10px;
   position:relative;
}

.left{
   width:300px;
   float:left;
}

.right{
   width:600px;
   float:right;
   position:relative;
}

.mapHolder{
   position:relative;
   width:900px;
   height:450px;
}
#exteriorControls{
   z-index:9000;
}

#interiorControls{
   z-index:9000;
   display:none;
}

#interiorOptions{
   display:none;
}

.tab a{
   float:left;
   width:150px;
   border-left:1px solid black;
   border-right:1px solid black;
   border-top:1px solid black;
   text-align:center;
   margin-right:10px;
   padding:5px;
   display:block;
   color:black;
   text-decoration:none;
}

.tab.selected a{
   background:#c9cccf;
}

.bikeIcon{
   display:none;
}

.busIcon{
   display:none;
}

.doorIcon{
   display:none;
}

.infoBox{
   display:none;
   background:#ffffff;
   border:1px solid black;
   z-index:9999999;
   padding:5px;
   max-width:200px;
}
.infoBox strong{
   font-weight:bold;
}

.parkingIcon{
   display:none;
}

.floorButton{
   background:#ffd599;
   width:20px;
   height:20px;
   margin-bottom:5px;
   border:1px solid black;
   text-align:center;
   font-height:20px;
   cursor: pointer;
}

.floorButton.selected{
   background:#f28d1e;
}

.name{
   font-size:16px;
}

.address{
   padding-top:20px;
}

.phone{
   padding-top:20px;
}

.hours{
   padding-top:20px;
}

.hours strong{
   font-weight:bold;
}

.directions{
   padding-top:30px;
   font-size:12px;
}

#interiorMapOverlay{
   width:500px;

   position:absolute;
   top:25px;
   left:50px;
   background:#fff;
   z-index:9999;
   border:2px solid black;
   display:none;
   overflow:hidden;
}

#mapOptions{
   margin-top:470px;
}

#interior{
   margin-left:auto;
   margin-right:auto;
   width:360px;
}

#exterior{
   margin-left:auto;
   margin-right:auto;
   width:490px;
}

.button{
   width:100px;
   height:100px;
   float:left;
   padding-right:30px;
}

#elevator{
   background:url('../images/buttons/ElevatorButton.png') no-repeat;
}
#elevator.selected{
   background:url('../images/buttons/ElevatorButtonSelected.png') no-repeat;
}

#restroom{
   background:url('../images/buttons/RestroomButton.png') no-repeat;
}
#restroom.selected{
   background:url('../images/buttons/RestroomButtonSelected.png') no-repeat;
}

#food{
   background:url('../images/buttons/FoodButton.png') no-repeat;
   padding-right:0px;
}
#food.selected{
   background:url('../images/buttons/FoodButtonSelected.png') no-repeat;
   padding-right:0px;
}

#bike{
   background:url('../images/buttons/BikeButton.png') no-repeat;
}
#bike.selected{
   background:url('../images/buttons/BikeButtonSelected.png') no-repeat;
}

#bus{
   background:url('../images/buttons/BusButton.png') no-repeat;
}
#bus.selected{
   background:url('../images/buttons/BusButtonSelected.png') no-repeat;
}

#door{
   background:url('../images/buttons/DoorButton.png') no-repeat;
}
#door.selected{
   background:url('../images/buttons/DoorButtonSelected.png') no-repeat;
}

#parking{
   background:url('../images/buttons/ParkingButton.png') no-repeat;
   padding-right:0px;
}
#parking.selected{
   background:url('../images/buttons/ParkingButtonSelected.png') no-repeat;
   padding-right:0px;
}



/* FOOTER */
#footer{
   background:url('../images/bottom-devider.png') repeat-x top;
   padding-top:15px;
   font-size:12px;
}

.clear{
   clear:both;
   width:100%;
}