/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
   font-size:16px;
   font-family: 'Mako', sans-serif;
   line-height:18px;
}

#holder{
   width:900px;
   margin-left:auto;
   margin-right:auto;
   padding:20px;
}

/* HEADER */
#header{
   padding-bottom:15px;
   background:url('../images/top-devider.png') repeat-x bottom;
}

#logo{
   float:left;
}

#search{
   float:right;
   margin-top:65px;
}

#submit_search{
   margin-left:10px;
}

/* BODY */
#main{
   padding-top:10px;
   padding-bottom:10px;
   position:relative;
   height:450px;
}

.left{
   width:300px;
   float:left;
}

.right{
   width:600px;
   float:right;
   position:relative;
   height:450px;
}

.mapHolder{
   position:relative;
   width:900px;
   height:450px;
}

.directions{
   font-size:12px;
}

#settings{
   display:none;
}

/* FOOTER */
#footer{
   background:url('../images/bottom-devider.png') repeat-x top;
   padding-top:15px;
   font-size:12px;
}

.clear{
   clear:both;
   width:100%;
}