#holder{
   width:900px;
   margin-left:auto;
   margin-right:auto;
   padding:20px;
}

/* HEADER */
#header{

}

#logo{
   float:left;
}

#search{
   float:right;
   margin-top:50px;
}

#submit_search{
   margin-left:10px;
}

/* BODY */
#settings{
   display:none;
}

/* FOOTER */


.clear{
   clear:both;
   width:100%;
}